<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 id="message">Liste des blogs</h1>
    <ul>
       
        {% for blog in blogs %}
        <li>
            {% if blog.img %}
                <img src="{{ blog.img.url }}" alt="">
            {% else %}
                <img src="{% static 'default-image.jpg' %}" alt="">
            {% endif %}
            <a href="">{{blog.name}}</a>
        </li>
        <a href="{% url "deleteblog" blog.id %}">delete</a>
        {% endfor %}
    </ul>
    <script src="{% static 'bundle.js' %}"></script>
</body>